  
     
 @model CheckoutVM


<main> 
   <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
          <div class="ttm-page-title-row text-center" style="background: url('./assets/img/contact/contact.jpg')">
              <div class="title-box text-center"> 
                  <div class="contact-title">
                      <h1>CHECKOUT</h1>
                  </div>
              </div>
          </div>
   </div>
      </div>

<section class="checkout-detail mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 left-side">
               <form action="">
                   <div class="contact-information">
                    <div class="contact-info">
                        <h4>Contact Information</h4>
                        <input type="text" placeholder="Email">
                    </div>
                   
                   </div>
                   <div class="billing-address">
                       <h4>Billing Address</h4>
                       <select name="" id="">
                           <option value="Baku">Baku</option>
                           <option value="Ismaily">Ismaily</option>
                           <option value="Ganja">Ganja</option>
                           <option value="Lankaran">Lankaran</option>
                       </select>
                       <div class="name-surname">
                           <input type="text" placeholder="First Name">
                           <input type="text" placeholder="Last Name">
                       </div>
                       <input type="text" placeholder="Address">
                       <input type="text" placeholder="Apartment">
                       <div class="post-code">
                           <input type="text" placeholder="Postal code">
                           <input type="text" placeholder="City">
                       </div>
                   </div>
                   <div class="submit mb-5">
                       <button>Continue to Payment</button>
                       <a href="" class="hfr4jf5b text-decoration-none">Return to cart</a>
                   </div>
               </form>
            </div>
            <div class="col-lg-5 right-side">
                <div class="my-product">
                    <div class="book-image">
                        <img src="./Assets/images/book16.jpg" alt="">
                    </div>
                    <div class="book-info">
                        <h5>Product Name</h5>
                        <span>2 X $50</span>
                    </div>
                    <div class="price">
                        <h5>Total Price</h5>
                        <span>$100</span>
                    </div>
                </div>
                <div class="my-product">
                    <div class="book-image">
                        <img src="./Assets/images/book16.jpg" alt="">
                    </div>
                    <div class="book-info">
                        <h5>Product Name</h5>
                        <span>2 X $50</span>
                    </div>
                    <div class="price">
                        <h5>Total Price</h5>
                        <span>$100</span>
                    </div>
                </div>
                <div class="total-price">
                    <span class="text">Total Price</span>
                    <span>$200</span>
                </div>
            </div>
        </div>
    </div>
</section>

   
</main>