
@model TeamVM


   <div class="carousel-inner">
        <div class="ttm-page-title-row text-center" style="background: url('./assets/img/contact/contact.jpg')">
            <div class="title-box text-center"> 
                <div class="contact-title">
                    <h1>OUR TEAM</h1>
                </div>
                <div class="breadcrumb-wrapper">
                  <div class="container">
                      <span><a class="text-white" title="Homepage" asp-action="index" asp-controller="home"><i class="fa fa-home text-white"></i>&nbsp;&nbsp;Home</a></span>
                      <span class="ttm-bread-sep text-white"> &nbsp; ⁄ &nbsp;</span>
                      <span><a title="" asp-action="index" asp-controller="team" class="text-white">Team</a></span>
                  </div>
              </div>
            </div>
        </div>
   </div>
     <div class="container pinkcontainer">
                <h1>Our Team</h1>
                 <div class="staff-container d-flex flex-wrap">

                          @foreach (var team in Model.Teams)
                         {

                       <div class="col-md-4">
                         <div class="single-staff">
                             @foreach (var foto in team.TeamImage)
                            {
                           <img src="~/assets/img/team/@foto.Image.Url">
                                
                            }

                           <div class="staff-info">
                             <a asp-controller="team" asp-action="Detail" asp-route-id="@team.Id"><span class="fst-name">@team.Title</span></a> 
                               <span class="lst-name">@team.Job</span>
                           </div>
                       </div>
                       </div>
                             
                         }
                 </div>
               </div>
            