
    @model RegisterVM

@{
    Layout = "_LoginRegisterLayout";
}
 
   <section class="signUp">
        <div class="register">

            <form method="post">
                <h3>Register</h3>
                <div class="text-danger" asp-validation-summary="All"></div>

                <div class="name-surname">
                    <div class="name">
                        <input asp-for="Firstname" placeholder="Firstname"  id="name">
                    </div>
                    <div class="surname">
                        <input asp-for="Lastname" placeholder="Lastname" id="surname">
                    </div>
                </div>
                <div class="username-email">
                    <div class="username">
                        <input asp-for="Username" placeholder="Username" id="username">
                    </div>
                    <div class="mail">
                        <input asp-for="Email" placeholder="Email" id="email">
                    </div>
                </div>
                <div class="password-confirm">
                    <div class="password">
                        <input asp-for="Password" placeholder="Password" id="password">
                    </div>
                    <div class="confirm">
                        <input asp-for="ConfirmPassword" placeholder="ConfirmPassword" id="password">
                    </div>
                </div>
    
                <button>Sign Up</button>
                <span class="need-account">Already Have an Account? <a asp-action="login" asp-controller="account"> SIGN IN</a></span>
            </form>
        </div>

    </section>
