@{
    Layout = "_ErrorPageLayout";
}


<div class="noise"></div>
<div class="overlay"></div>
<div class="terminal">
    <h1>Error <span class="errorcode">404</span></h1>
    <p class="output">If you want to post a comment, please login!</p>
    <p class="output">Please try to <a asp-action="index" asp-controller="home">GO BACK</a> or <a href="#2">return to the homepage</a>.</p>
    <p class="output">Good luck.</p>
</div>
