
@model Product

<div class="container">
    <div class="row">
         <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title"> Create - Product</h4>
               
                  <form enctype="multipart/form-data" method="post" asp-area="admin" asp-controller="product" asp-action="create" class="forms-sample">

                    <div class="form-group">
                      <label asp-for="Title" >Title </label>
                      <input asp-for="Title" class="form-control" placeholder="Title">
                    </div>


                    <div class="form-group">
                      <label  asp-for="Description" >Description</label>
                      <input  asp-for="Description" class="form-control" placeholder="Description">
                    </div>

                    <div class="form-group">
                      <label asp-for="Price" >Price</label>
                      <input asp-for="Price" class="form-control" placeholder="Price">
                    </div>

                    
                    <div class="form-group">
                      <label  asp-for="ImageFile">Image</label>
                      <input accept="image/*" asp-for="ImageFile" class="form-control">
                    </div>
                    <div>

                            <span style="font-size: 20px;
                                           margin-right: 11px;}">
                            Category:</span>  <select style="margin-top: 1rem;
                                           margin-bottom: 36px;
                                           font-size: 20px;
                                    :hover background-color: #fff;"
                            
                                    asp-for="@Model.Category.Id" >
                                @foreach (var category in ViewBag.Categories)
                                {
                                    <option value="@category.Id" >@category.Name</option>
                                }
                        </select>
                    </div>


                 <button type="submit" class="btn btn-success mr-2">Submit</button>
                 <button asp-controller="product" asp-action="index" class="btn btn-light">Cancel</button>
                  </form>
                </div>
              </div>
            </div>
    </div>
</div>