
 @model Blog

<main>  
     <div class="carousel-inner">
        <div class="ttm-page-title-row text-center" style="background-image: url('/assets/img/contact/contact.jpg')">
            <div class="title-box text-center"> 
                <div class="contact-title">
                    <h1>@Model.Title</h1>
                </div>
                <div class="breadcrumb-wrapper">
                  <div class="container">
                      <span><a class="text-white" title="Homepage" asp-action="index" asp-controller="home"><i class="fa fa-home text-white"></i>&nbsp;&nbsp;Home</a></span>
                      <span class="text-white"> &nbsp; ⁄ &nbsp;</span>
                      <span><a title="" asp-action="index" asp-controller="blog" class="text-white">Blog &nbsp;/&nbsp; How to Find the Perfect Event Venue</a></span>
                  </div>
              </div>
            </div>
        </div>
   </div>

    <div class="site-main">

        <div class="ttm-sidebar ttm-bgcolor-dark-grey break-991-colum ttm-sidebar-section classic-blog-section clearfix">
            <div class="container">
                <div class="row ttm-sidebar-right">
                    @foreach (var blogImage in Model.BlogImage.Where(n => n.BlogId== Model.Id))
                   {

                    <div class="col-12 content-area">
                        <article class="post ttm-blog-classic">

                                <div class="post-image ttm_single_image_wrapper" style="
                                 width: 90%;">
                                    
                                <img class="img-fluid mt-5" src="~/assets/img/blogsekilleri/@blogImage.Image.Url">
                            </div>

                            <div class="blog-hisse-content">

                                <div class="fordate-class">
                                    <span class="date">1</span>
                                    <small class="month">OCT</small>
                                </div>

                                 <div class="post-title ml-4  mt-5 headertext-first">
                                    <h5><a style="margin-left:87px;">@Model.Title </a></h5>
                                </div>

                                <p class="pt-20 text-muted">@Model.Description</p>
                                   </div>
                        </article> 
                        <p class="erfjhbrjf">Contary popular is simply dummy text of the printun known printer took a galley of type anambt.</p>
                        <p class="pt-20 text-muted " style="color: grey;">@Model.Description</p> <br>
                    </div>
 
                   }

                        <div class="col-lg-3 sidebar sidebar-right widget-area">

                    </div>
                </div>
            </div>
        </div>
    </div>
 </main>


