
 @model BlogVM

<main>  
     <div class="carousel-inner">
        <div class="ttm-page-title-row text-center">
            <div class="title-box text-center"> 
                <div class="contact-title">
                    <h1>BLOG</h1>
                </div>
                <div class="breadcrumb-wrapper">
                  <div class="container">
                      <span><a class="text-white" title="Homepage" asp-action="index" asp-controller="home"><i class="fa fa-home text-white"></i>&nbsp;&nbsp;Home</a></span>
                      <span class="ttm-bread-sep text-white"> &nbsp; ⁄ &nbsp;</span>
                      <span><a title="" asp-action="index" asp-controller="blog" class="text-white">Blog</a></span>
                  </div>
              </div>
            </div>
        </div>
   </div>
    <div class="site-main">

        <div class="ttm-sidebar ttm-bgcolor-dark-grey break-991-colum ttm-sidebar-section classic-blog-section clearfix">
            <div class="container">
                <div class="row ttm-sidebar-right">
                    <div class="col-12 content-area">

                        @foreach (var blog in Model.Blogs)
                       {
                          <article class="post ttm-blog-classic">
                                             @foreach (var  blogImage in blog.BlogImage)
                                            {

                                    <div class="post-image ttm_single_image_wrapper" style="
                                 width: 90%;">
                                             <img class="img-fluid mt-5" src="~/assets/img/blogsekilleri/@blogImage.Image.Url">
                                               </div>
                                            }

                           <div class="blog-hisse-content">
                                <div class="post-title ml-4  mt-5 headertext-first">
                                        <div class="fordate-cla" style="display: inline-block;">
                                    <span class="date">1</span>
                                    <small class="month">OCT</small>
                                </div>
                                        <h5 style="display: inline;"><a href="blog-details.html">@blog.Title</a> </h5>
                                </div>
                                <p class="pt-20">@blog.Description</p>
                           <button type="button" class="mybtnhb btn-outline-dark">    <a asp-action="Detail" asp-controller="blog" asp-route-id="@blog.Id"> Read More</a></button>
                                </div>
                          </article>
  
                       }
                        

                    </div>

                </div>
            </div>
        </div>
       
    </div> 
    
 </main>

