@model AboutVM
    <main>
        <section class="aboutclasss">
            <div class="container">
                <div class="about-text row justify-content-between">
                    <div data-aos="fade-right" class="col-md-4 about-left">
                        <hr>
                        <h2>About.</h2>
                        <h4>Our System</h4>
                    </div>
                </div>
                <div data-aos="fade-right" class="about-img row">
                  <div class="col-md-8 img-left pb-4">
                    <img class="img-fluid" src="~/assets/img/about/maskedballmonaco.jpg">
                    <div class="img-text">
                        <h4>Сoncept</h4>
                        <p>Committed and creative</p>
                    </div>
                  </div>
                  <div data-aos="fade-left" class="col-md-4 img-right">
                    <div class="right1">  
                            <img class="img-fluid" src="~/assets/img/about/new year.webp">
                      <div class="img-text1">
                          <h4>New Year</h4>
                          <p>Premium Party</p>
                      </div>
                    </div>
                    <div class="right2 pt-4">   
                      <img class="img-fluid" src="~/assets/img/gallery/gallery-3.jpg">
                <div class="img-text2">
                    <h4>The Fun With Us!</h4>
                    <p>Berlin, UK</p>
                </div>
              </div>
                    <div class="right2 pt-4">   
                            <img class="img-fluid" src="~/assets/img/about/about-1.jpeg">
                      <div class="img-text2">
                          <h4>Concept</h4>
                          <p>Azerbaijan, Baku</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </section>


          <section id="Eventabout">
            <div class="container">
              <div class="row">


                      <div data-aos="fade-up" class="col-md-4">
                   <div class="ngtn">
                    <h2>History</h2>
                    <br>
                    Bizim teşkilatçı şirkətimiz 2022-ci ildən  <br>
                    fəaliyyət göstərir
                   </div>
                   </div>

                      <div data-aos="fade-up" class="col-md-4">
                        <div class="ngtn">
                          <h2>Who we are?</h2>
                          <br>
                          Həm professional kollektiv hem de uyğun qiymətləri ilə şirkətimiz 
                          müştərilərin güvənini qazanmış şirkətlər arasındadır.Ən keyfiyyətli 
                          xidmetlə fəaliyyet göstərən şirkətimiz daim sizin xidmətinizdədir.
                        </div>
                      </div>

                      <div data-aos="fade-up" class="col-md-4">
                        <div class="ngtn">
                          <h2>Our Mission</h2>
                          <br>
                            <ul>
                            <li>
                               Keyfiyyetli xidmət
                            </li>
                            <li>
                               Bol əyləncə
                            </li>
                            <li>
                               Müştəri məmnuniyyəti
                            </li>
                            <li>
                               Gənclərin aktivliyini artırmaq
                            </li>
                          </ul>
                        </div>
                      </div>
                       </div>
           </div>
          </section>

          <section id="IsProsesi">
              <div class="container text-center">
                  <h4>OUR BEST PROCESS</h4>
                  <h2>Our Working Process</h2>
                  <div class="midhr mt-5">
                    <hr>
                  </div>
                <div class="row d-flex flex-wrap">

                 <div class="col-md-3">
                    <div class="iconlarim">
                        <div class="icon-1">
                            <i class="fa-solid fa-comments"></i>
                        </div>
                        <div class="basliq">
                            <h5>
                                Find The Perfect Venue <br>
                                For Free
                            </h5>
                        </div>
                        </div>
                 </div>
                
                 <div class="col-md-3">
                    <div class="iconlarim">
                        <div class="icon-2">

                            <i class="fa-solid fa-people-pulling"></i>
                        </div>
                        <div class="basliq">
                            <h5>
                                Connect with the best  <br>
                                vendor
                            </h5>
                        </div>
                    </div>
                        </div>

                <div class="col-md-3">
                    <div class="iconlarim">
                        <div class="icon-3">
                            <i class="fa-solid fa-cake-candles"></i>
                        </div>
                        <div class="basliq">
                            <h5>
                                Let us help you with  <br>
                                the event
                            </h5>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="iconlarim">
                        <div class="icon-4">
                            <i class="fa-solid fa-binoculars"></i>
                        </div>
                        <div class="basliq">
                            <h5>
                                Enjoy the party with  <br>
                                your friends
                            </h5>
                        </div>
                    </div>
                </div>
                </div>
            </div>
          </section>
      
    </main>
     