@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Anton&family=Belleza&family=Dancing+Script:wght@500&family=Poppins:ital,wght@1,200&family=Quicksand&display=swap');

.details-texts{
    color: rgb(233, 223, 223);

}

.textsssssssssssss {
    font-size: 20px;
    color: #e9204f;
    font-family: 'Anton', sans-serif;    

}