@inject LayoutService layoutservices;
@{
    Layout = "_SecondLayout";
}

@{
    ViewData["Title"] = "Index";
}
<section class="shopping-caberf mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 left-side">
                <table>
                    <thead>
                        <tr>
                            <th class="item">Items</th>
                            <th class="price">Price</th>
                            <th class="qty">Quantity</th>
                            <th class="total-price">Remove</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (BasketVM basketVM in layoutservices.GetBasket()){
                            
                            <tr class="cart-items">
                            <td class="item-info">
                                <div class="item-image-info">
                                    <div class="item-image">
                                        <a href="">
                                          <img src="~/assets/uploads/images/@basketVM.ProductImage.Image.Url" alt="item1" />
                                         </a>
                                    </div>
                                    <div class="item-title">
                                        <a>
                                            <span class="item-name">@basketVM.Title</span>
                                        </a>
                                    </div>
                                </div>
                            </td>
                            <td class="item-price">
                                <span class="money text-danger font-weight-bold">@basketVM.Price</span>
                            </td>
                            <td class="item-quantity">
                                <div class="inp-num">
                                    <a href="#" class="down"><i class="fas fa-chevron-left"></i></a>
                                    <span class="inp-value">@basketVM.Count</span>
                                    <a href="#" class="up"><i class="fas fa-chevron-right"></i></a>
                                </div>
                            </td>
                            <td class="item-total ">
                                <div class="remove">
                                    <a href="" class="cart-remove-btn" type="button">
                                        <span>Remove</span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        }

                    </tbody>


                </table>
             
            </div>
            <div class="col-lg-3 right-side">
                <div class="card">
                    <div class="card-header">
                        <h1>Order Summary</h1>
                    </div>
                    <div class="card-body font-weight-bold">
                        <h2 class="ryugfervb">Total Price</h2>
                        <span class="frhebfuh">
                            @{
                                double total = 0;


                                foreach (BasketVM basketVM in layoutservices.GetBasket())
                                {
                                    total += (basketVM.Count * basketVM.Price);
                                }
                            }
                            $@total.ToString("F2")
                        </span>
                    </div>
                    <div class="card-footer">
                        <button type="submit">Checkout</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>