@* @model List<Basket
*@@{
    Layout = "_SecondLayout";
}

@{
    ViewData["Title"] = "Index";
}

<section class="shopping-caberf mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 left-side">
                <table>
                    <thead>
                        <tr>

                            <th class="item">Items</th>
                            <th class="price">Price</th>
                            <th class="qty">Quantity</th>
                            <th class="total-price">Total</th>

                        </tr>
                    </thead>

                    <tbody>
                        <tr class="cart-items">
                            <td class="item-info">
                                <div class="item-image-info">
                                    <div class="item-image">
                                        <a href="">
                                            <img src="~/assets/img/products/party-shop-4.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="item-title">
                                        <a href="">
                                            <span class="item-name">FLOWERS</span>
                                        </a>
                                    </div>
                                </div>
                            </td>
                            <td class="item-price">
                                <span class="money text-danger font-weight-bold" data-currency-usd="$55.00">$55.00</span>
                            </td>
                            <td class="item-quantity">
                                <div class="inp-num">
                                    <a href="#" class="down"><i class="fas fa-chevron-left"></i></a>
                                    <span class="inp-value">1</span>
                                    <a href="#" class="up"><i class="fas fa-chevron-right"></i></a>
                                </div>
                            </td>
                            <td class="item-total ">
                                <span class="money" data-currency-usd="$55.00">$55.00</span>
                                <div class="remove">
                                    <a href="" class="cart-remove-btn" type="button">
                                        <span>Remove</span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>


                </table>
                <div class="clear-all">
                    <a href="">
                        Delete All
                    </a>
                </div>
            </div>
            <div class="col-lg-3 right-side">
                <div class="card">
                    <div class="card-header">
                        <h1>Order Summary</h1>
                    </div>
                    <div class="card-body font-weight-bold">
                        <h2 class="ryugfervb">Total Price</h2>
                        <span class="frhebfuh">$100</span>
                    </div>
                    <div class="card-footer">
                        <button type="submit">Checkout</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>